.price-list-container-wrapper {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: var(--padding-page-properties);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    margin: 64px 0 0 0;
}

.price-list-container-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin: 64px 0 0 0;
    width: 100%;
}

.nav-product-list-buttons{
    margin: 32px 0 0 0;
}

.nav-product-list-buttons button{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--quinary-color);
    border-radius: 6px;
    cursor: pointer;
    background: var(--secondary-color);
    padding: 8px 16px 8px 16px;
    width: fit-content;
    margin: 0 8px;
    color: var(--quinary-color);
    background: none;
    border-color: var(--quinary-color);
    transition: 0.2s ease-in-out;
}

.nav-product-list-buttons button:hover{
    background: var(--quinary-color);
    color: var(--primary-color);
}

.nav-product-list-buttons button:focus{
    background: var(--quinary-color);
    color: var(--primary-color);
}

.view-all-button{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--quinary-color);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: var(--quinary-color);
    padding: 8px 16px 8px 16px;
    width: fit-content;
    margin: 40px 0 0 0;
    color: var(--primary-color);
}

.view-all-button:hover{
    background: var(--primary-color);
    color: var(--quinary-color);
}