@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
    padding: 0;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-color: #0b0a1a;
    --white-color: #ffffff;
    --padding-page-properties: 0 192px 0 192px;
    --primary-color-hovered: #313143;
    --secondary-color: #54BD95;
    --tertiary-color: #000400;
    --quaternary-color: #171528;
    --quinary-color: #1FAD72;
    --gray-color: #FFFFFFCC;
    --button-margin: 10px 0 0 0;
    --background-benefits: #171528;
;
}
